/*div.top-nav ul li.selected span {
    color: #4D4D4D;
    background: url(../img/ie-05.png) no-repeat 0 -478px;
}*/
div.msg-container.widget-container {
    padding: 0;
    background: none;
    background-color: transparent;
}
div.msg-container div.msg-wrap {
    background-color: #fff;
}
div.msg-container div.msg-btn-container {
    background-color: #fff;
    margin: 0;
    padding: 0 26px 19px 0;
}
div.msg-container div.position-top-left, 
div.msg-container div.position-top-right, 
div.msg-container div.position-bottom-left, 
div.msg-container div.position-bottom-right {
    position: absolute;
    width: 17px;
    height: 11px;
}
div.msg-container div.position-top-left {
    top: 8px;
    left: 4px;
    background: url(../img/ie-06.png) no-repeat 0px -56px;
}
div.msg-container div.position-top-right {
    top: 7px;
    right: -1px;
    background: url(../img/ie-06.png) no-repeat 0px -38px;
}
div.msg-container div.position-bottom-left {
    bottom: 9px;
    left: 3px;
    background: url(../img/ie-06.png) no-repeat 0px -76px;
}
div.msg-container div.position-bottom-right {
    bottom: 9px;
    right: -1px;
    background: url(../img/ie-06.png) no-repeat 0px -95px;
}
div.msg-container div.position-top-center {
    margin: 0 16px 0 17px;
    height: 13px;
    background: url(../img/ie-01.png) no-repeat 0px 0px;
}
div.msg-container div.position-bottom-center {
    margin: 0 16px 0 17px;
    height: 14px;
    background: url(../img/ie-01.png) no-repeat center bottom;
}
div.msg-container div.position-center-left {
    padding-left: 11px;
    background: url(../img/ie-02.png) no-repeat 0px 0px;
}
div.msg-container div.position-center-right {
    padding-right: 11px;
    background: url(../img/ie-02.png) no-repeat center right;
}
div.help-content-container-wrap {
    height: 400px;
    overflow-x: hidden;
    overflow-y: auto;
    width: 384px;
    background-color:#fff;
    padding: 28px 12px 38px 22px;
}
div.help-container div.help-content-container span.help-content-delta {
    top:3px;
}
div.help-content-container {
    padding: 0;
    background: none;
    background-color: transparent;
    top:50px;
}
div.help-content-container div.msg-wrap {
    background-color: #fff;
}
div.help-content-container div.msg-btn-container {
    background-color: #fff;
    margin: 0;
    padding: 0 26px 19px 0;
}
div.help-content-container div.position-top-left, 
div.help-content-container div.position-top-right, 
div.help-content-container div.position-bottom-left, 
div.help-content-container div.position-bottom-right {
    position: absolute;
    width: 17px;
    height: 11px;
}
div.help-content-container div.position-top-left {
    top: 8px;
    left: 4px;
    background: url(../img/ie-06.png) no-repeat 0px -56px;
}
div.help-content-container div.position-top-right {
    top: 7px;
    right: -1px;
    background: url(../img/ie-06.png) no-repeat 0px -38px;
}
div.help-content-container div.position-bottom-left {
    bottom: 9px;
    left: 3px;
    background: url(../img/ie-06.png) no-repeat 0px -76px;
}
div.help-content-container div.position-bottom-right {
    bottom: 9px;
    right: -1px;
    background: url(../img/ie-06.png) no-repeat 0px -95px;
}
div.help-content-container div.position-top-center {
    margin: 0 16px 0 17px;
    height: 13px;
    background: url(../img/ie-01.png) no-repeat 0px 0px;
}
div.help-content-container div.position-bottom-center {
    margin: 0 16px 0 17px;
    height: 14px;
    background: url(../img/ie-01.png) no-repeat center bottom;
}
div.help-content-container div.position-center-left {
    padding-left: 11px;
    background: url(../img/ie-02.png) no-repeat 0px 0px;
}
div.help-content-container div.position-center-right {
    padding-right: 11px;
    background: url(../img/ie-02.png) no-repeat center right;
}
div.button-container button.green.pure-button {
    background: url(../img/ie-05.png) no-repeat left -288px transparent;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    border-style:none;
    /*     background-color: #54c7e2; */
}
div.msg-btn-container div.button-container button.button-button {
    min-width:90px;
    padding: 0;
    background-color: transparent;
}
div.button-container button.green.pure-button span {
    background: url(../img/ie-05.png) no-repeat right -361px transparent;
    font-size: 14px;
    padding: 10px 5px 9px 0;
    display: block;
    margin-left:5px;
}
div.button-container button.pure-button.green[disabled] {
    background: url(../img/ie-05.png) no-repeat left 0px transparent;
    filter:progid:DXImageTrasform.Microsoft.AlphaImageLoader(src="/img/ie-05.png", enabled=true, sizingMethod=scale);
}
div.button-container button.pure-button.green[disabled] span {
    background: url(../img/ie-05.png) no-repeat right -36px transparent;
}
div.button-container button.blue.pure-button {
    background: url(../img/ie-05.png) no-repeat left -324px transparent;
    padding: 0;
    font-size: 14px;
    line-height: 16px;
    border-style:none;
    position: relative;
}
div.button-container button.blue.pure-button span {
    background: url(../img/ie-05.png) no-repeat right -396px transparent;
    font-size: 14px;
    padding: 10px 5px 9px 0;
    display: block;
    margin-left:5px;
    position: relative;
}
div.button-container button.pure-button.blue[disabled] {
    background: url(../img/ie-05.png) no-repeat left -73px transparent;
    filter:progid:DXImageTrasform.Microsoft.AlphaImageLoader(src="/img/ie-05.png", enabled=true, sizingMethod=scale);
}
div.button-container button.pure-button.blue[disabled] span {
    background: url(../img/ie-05.png) no-repeat right -106px transparent;
}
div.button-group-container ul.button-group-container li button.button-group-button span {
    color:#ffffff;
}
div.button-group-container.off.disabled div.button-group-wrap ul.button-group-container li button.button-group-button.fst span {
    color:#f2f2f2;
}
div.button-group-container.on.disabled div.button-group-wrap ul.button-group-container li button.button-group-button.lst span {
    color:#f2f2f2;
}
div.widget-container.msg-container div.msg-wrap a {
    margin: 10px 10px 0 0;
}
div.button-group-container.on ul.button-group-container {
    background: url(../img/ie-05.png) no-repeat left -527px transparent;
}
div.button-group-container.off ul.button-group-container {
    background: url(../img/ie-05.png) no-repeat left -557px transparent;
}
div.button-group-container.on.disabled ul.button-group-container {
    background: url(../img/ie-05.png) no-repeat left -587px transparent;
}
div.button-group-container.off.disabled ul.button-group-container {
    background: url(../img/ie-05.png) no-repeat left -617px transparent;
}
div.button-group-container.on ul.button-group-container li button.button-group-button.lst, 
div.button-group-container.on ul.button-group-container li button.button-group-button.fst, 
div.button-group-container.off ul.button-group-container li button.button-group-button.fst, 
div.button-group-container.off ul.button-group-container li button.button-group-button.lst {
    background-color: transparent;
}
