div.file-wrap div.button-container.file-button-container button.button-button.file-button {
    min-width: 50px;
}
 
.pure-form div.file-container div.file-wrap input.file-input {
    visibility: visible;
    filter:alpha(opacity=0);
}
