#t_tx{
    color:#4ACBD6;
    font-size: 12px;
    padding-right: 10px;
}
#t_rx{
    color: #005564;
    font-size: 12px;
    padding-right: 10px;
}
td.title{
    padding-right: 80px;
    font-size: 14px;
}